.Toolbar{
    width:100%;
    position:fixed;
    top:0;
    margin:auto;
    background-color: transparent;
    justify-content: space-between;
    flex-flow:row-reverse;
    align-items: center;
    padding: 0;
    box-sizing: border-box;
    z-index:90;
}
.HeaderImage{
    display: flex;
    z-index: 100;
    top:0;
}
.Toolbar nav{
    display:flex;
    position:relative;
    width:100%;
    justify-content: center;
    z-index: 150;
    background-color: inherit;
}

.Logo{
    height:80%;
}

@media (max-width: 499px) {
    .DesktopOnly{
        display:none;
    }
}