.TerminalBody{
    left: 5px;
    width: 100%;
}
.TerminalBody label{
    color: #E18D24;
    font-weight: bolder;
    font-size: 14px;
    width:10%;
    text-align: start;
    margin-right: 3px;
}
.TerminalBody input{
    outline: none;
    border: none;
    background-color: inherit;
    caret-shape: bar;
    caret-color: #E18D24;
    color: #E18D24;
    width:90%;
}
.TerminalBody input:focus{
    animation: PulseAttention 1.5s cubic-bezier(.215, .61, .355, 1) forwards infinite;
}

@keyframes PulseAttention {
    50% {
        border-color: #F8D084;
    }
}